<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/users" method="post">
        <label for="name">name</label>
        <input type="text" id="name" placeholder="name" name="name">
        <br><br>
        <label for="age">age</label>
        <input type="number" id="age" placeholder="age" name="age">
        <br><br>
        <label for="email">email</label>
        <input type="text" id="email" placeholder="email" name="email">
        <br><br>
        <label for="contact">contact</label>
        <input type="number" id="contact" placeholder="contact" name="contact">
        <br><br>

        <button>Submit</button>
    </form>
</body>
</html>