.child{
    height: 100px;
    width: 100px;
    border: 1px solid red;
    float: left;
}

/* #child3{
    position: relative;
    top: 200px;
    left: 30px;
} */
/* 
#child2{
    position: absolute;
    bottom: 0;
    right: 0;
} */

#child2{
    position: fixed;
    right: 0;
}
#child4{
    margin-top: 100vh;
    position: sticky;
    top: 0;
}
.container{
    height: 5000px;
    border: 2px solid green;
    width: 60vw;
    position: relative;
}