.container{
    height: 150px;
    width: 150px;
    border: 2px solid black;
     margin: 100px auto;
     /* box-shadow: 10px 10px 5px black, -10px -10px 10px blue; */
     box-shadow: 10px 10px 5px black;

     /* transform: rotateX(45deg); */
     /* transform: rotateY(30deg); */
     /* transform: rotateZ(30deg); */
     transition-duration: 1s;
    
}

.container:hover{
    /* transform: translatez(100px); */
    /* transform: scale(1.5); */
    /* transition-delay: 5s; */
    /* transform: skewy(50deg); */
   
}