.navbar{
    background-color: #F2BF11;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

*{
    margin: 0;
    padding: 0;
}
.links{
    margin-right: 75px;
}

div.links a{
    text-decoration: none;
    color: black;
    margin-right: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: ;
}

.logo{
  margin-left: 75px;
}
.logo img{
    height: 45px;
}

#spcl-link{
    background-color: black;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 40px;
}

.main{
    height: 448px;
    background-color: #F2BF11;
    overflow: auto;
}

.main-content{
    margin-top: 90px;
    margin-left: 80px;
}

.main-content h1{
    font-size: 106px;
}

.main-content p{
    font-size: 24px;
    margin-top: 40px;
}

.main-content a{
    text-decoration: none;
    background-color: black;
    color: white;
    margin-top: 40px;
    display: inline-block;
    padding: 10px;
    border-radius: 40px;
    width: 200px;
    text-align: center;
    font-size: 1.5rem;
}