p{
    color: aqua;
}

#span1{
    color: brown;
}

div{
    color: blueviolet;

}

.c-2{
    color: pink;
  }

.div-c{
    color: teal;
}

/* #special{
    color: red;
} */

a[href="https://www.google.com/"]{
    color: rosybrown
}
*{
    margin: 0;
}