/* #one{
    color: greenyellow;
}

.para1{
    color: aqua;
}

.para{
    color: teal;
}

p{
    color: cadetblue;
} */

/* id>class>tagname */

*{
    color: coral;
}

/* attribute selector */
a[href="https://www.facebook.com/"]{
    color: forestgreen;
}