<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/user" method="post">
        <label for="name"></label>
        <input type="text" placeholder="Name" id="name" name="name">
        <br><br>
        <label for="age"></label>
        <input type="number" placeholder="age" id="age" name="age">
        <br><br>
        <label for="address"></label>
        <input type="text" placeholder="address" id="address" name="address">
        <br><br>

        <button>Submit</button>
    </form>
</body>
</html>