div{
    border: 2px solid rebeccapurple;
    /* height: 300px; */
    /* display: inline; */
    display: inline-block;
    /* margin-top: 100px; */
}
span{
    border: 2px solid rebeccapurple;
    padding: 10px;
    /* margin-top: 10px; */
    /* margin-left: 100px; */

    /* height: 300px;
    width: 50vw; */
    /* display: block; */
    margin-top: 100px;
    display: inline-block;
}