div p{
     border: 2px solid red;
     /* border-bottom: 2px solid red; */

     /* margin: 10px; */
     margin: 10px 20px 25px 20px;
     /* margin: 10px 20px; */
     padding:50px;

     width: 30vw;
     margin: auto;
     margin-top: 30px;
}

*{
    margin: 0;
    padding: 0;
}