div.first-div{

    height: 100px;
    background-color: aqua;
    width: 100px;
    float: right;
}

div.second-div{
    height: 160px;
    width: 100px;
    background-color: blue;
    float: left;
}

.clearfix{
    clear: right;
    display: block;

} 