h1{
    color: teal;
}

/* class */

.para1{
    color: green;
}

.para{
    color: blueviolet;
}

.para3{
    color: blue;
}

/* id */

#spcl{
    color: aqua;
}

/* id>class>element */
/* 
universal selector */

/* *{
    border: 2px solid red;
} */

/* attribute selector */

a[href="https://www.google.com/"]{
    color: gold;
}

a[href="https://www.instagram.com/"]{
    color: pink;
}