.container{
    display: grid;
    grid-template-columns: repeat(6,100px);
    grid-template-rows: repeat(5,75px);
    grid-template-areas: 
    "i1 i1 i3 i3 i3 i5"
    "i1 i1 i3 i3 i3 i5"
    "i1 i1 i3 i3 i3 i5"
    "i2 i2 i2 i4 i4 i5"
    "i2 i2 i2 i4 i4 i5";
}
.item1{
    background-color: aqua;
    grid-area: i1;
    
}
.item2{
    background-color: red;
    grid-area: i2;
}

.item3{
    background-color: blueviolet;
    grid-area: i3;
   
}
.item4{
    background-color: yellow;
    grid-area: i4;
}
.item5{
    background-color: greenyellow;
    grid-area: i5
}