h1{
    border: 2px solid red;
    text-align: center;
    position: sticky;
    top: 40px;
    background-color: aqua;
    
}

p{
    /* border: 2px solid green; */
    text-align: center;
}

#spcl{
    height: 40px;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: blue;
}

*{
    margin: 0;
    padding: 0;
}