#child-1{

    height: 50px;
    width: 50px;
    background-color: aqua;
    position: relative;
    /* right: 50px; */
    /* top: 10px; */
    /* bottom: 20px; */

    /* left: 200px; */
}
#child-2{

    height: 50px;
    width: 50px;
    background-color: brown;
    position: absolute;
    /* top: 0;
    right: 0; */

    bottom: 50vh;
    left: 50vh;
}
#child-3{

    height: 50px;
    width: 50px;
    background-color:  pink;
    position: fixed;
}
#child-4{

    height: 50px;
    width: 50px;
    background-color: orange;
}

#spcl{
    position: sticky;
    background-color: red;
    top: 0;
}